.track {
  display: none;
}
.track img{
  width: 25%;
  height: auto;
  float: right;}
body {
  background-color: #eaeaea;
}
#main {
  margin-top: 2%;
}
img {
  width: 100%;
  height: auto;
  padding-top: 2%;
}
.banner{
  background-image: url(../img/banner.jpeg);
}
.banner h1 {
  font-size: 60px;
  text-align: center;
  color: white;
}
.form-group {
  clear: both;
  padding-top: 2%;
}
strong {
  text-decoration: underline;
}
.teal {
  color: #76bcb6;
}
.right {
  clear: both;
}
button {
  margin-top: 3%;
  margin-left: 3%;
  float: right;
}
