.track {
  display: none;
}
#main {
  margin-top: 2%;
}
img {
  width: 100%;
  height: auto;
  padding-top: 2%;
}

.track img{
  width: 25%;
  height: auto;
  float: right;
}
.teal {
  color: #76bcb6;
}
.right {
  clear: both;
}
button {
  margin-top: 3%;
  margin-left: 3%;
  float: right;
}
